body#header-2{
  header{
    background: $white;
    &.fixed{
      position: fixed;
      z-index: 3;
      width: 100%;
      .top{
        padding: 0;
        .col-brand{
          .navbar-brand{
            font-size: 40px;
          }
        }
        .menu-right{
          .nav-link{
            @include esm{
              padding: 10px !important;
            }
          }
        }
      }
      .down{
        .navbar{
          .nav-item{
            .nav-link{
              padding: 10px 30px;
            }
            .custom-dropdown-menu{
              top: 70px;
            }
            &:hover{
              .custom-dropdown-menu{
                transform: translate(0, -26px);
              }
            }
          }
        }
      }
    }
    .top{
      @include transition(all ease 300ms);
      padding: 25px 0px;
      .col-clock{
        display: flex;
        align-items: center;
        justify-content: center;
        @include elg{
          justify-content: unset;
        }
        @include sm{
          position: absolute;
          top: 42px;
        }
        @include esm{
          position: absolute;
          top: 42px;
        }
        .navbar-toggler{
          outline: 0;
          font-size: 25px;
          &[aria-expanded="true"]{
            i{
              @include transition(all ease 300ms);
              &:before{
                @include transition(all ease 300ms);
                content: '\eaeb';
              }
            }
          }
        }
        i.clock{
          font-size: 50px;
          @include md{
            display: none;
          }
          @include sm{
            display: none;
          }
          @include esm{
            display: none;
          }
        }
        button{
          display: none;
          i{
            font-size: 50px;
            @include md{
              font-size: 30px;
            }
            @include sm{
              font-size: 30px;
            }
            @include esm{
              font-size: 30px;
            }
          }
          @include md{
            display: block;
          }
          @include sm{
            display: block;
          }
          @include esm{
            display: block;
          }

        }
        p{
          font-weight: 600;
          margin-bottom: 0;
          @include md{
            display: none;
          }
          @include sm{
            display: none;
          }
          @include esm{
            display: none;
          }

          span{
            display: block;
            font-weight: 400;

          }
        }
      }
      .col-menu-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include esm{
          justify-content: center;

        }
        .menu-right{
          flex-direction: row;
          justify-content: flex-end;
          @include md{
            justify-content: center;
            flex-direction: row;
          }
          @include sm{
            justify-content: center;
            flex-direction: row;
          }
          @include esm{
            justify-content: center;
            flex-direction: row;
          }
          li.nav-item{
            @include md{
              position: unset;
            }
            @include sm{
              position: unset;
            }
            @include esm{
              position: unset;
            }
            .nav-link{
              position: relative;
              color: $secondary;
              padding: 20px 10px;
              @include sm{
                position: unset;
                margin: 0;
              }
              @include esm{
                position: unset;
                margin: 0;
              }
              i{
                font-style: unset;
                font-size: 22px;
                position: relative;
                .badges{
                  color: color(white);
                  background: $primary;
                  position: absolute;
                  font-size: 12px;
                  width: 20px;
                  height: 20px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  @include border-radius(10px);
                  top: -7px;
                  right: -8px;
                }

              }
            }
            .custom-dropdown-menu{
              &.dropdown-search{
                @include lg{
                  left: -160px;
                }
                @include md{
                  left: -160px;
                }
              }
              &.dropdown-cart{
                @include sm{
                  left: -190px;
                }
              }
              @include esm{
                width: 100% ;
                left: 0;
              }
              &:before{
                @include sm{
                  display: none;
                }
                @include esm{
                  display: none;
                }
              }
              @include sm{
                left: -90px;
              }
            }
            &:hover{
              .custom-dropdown-menu{
                @include transform(translateY(-10px));
              }
            }
          }
        }
      }
      .col-brand{
        display: block;
        margin: auto;
        text-align: center;
        .navbar-brand{
          @include transition(all ease 300ms);
          margin: 0;
          padding: 0;
          font-size: 50px;
          font-weight: 600;
          @include md{
          }
        }
      }
    }
    .down{
      border-top: 1px solid $gray-200;
      border-bottom: 1px solid $gray-200;
      @extend .shadow-sm;
      .navbar{
        width: 100%;
        padding: 0;
        li.nav-item{
          &.active{
            .nav-link{
              color: $primary;
            }
          }

          .custom-dropdown-menu{

            @include lg{
              &:before{
                display: block;
              }
              left: calc(50% - 100px);
            }
            @include md{
              top: 40px;
              width: 100%;
              left: 0;
            }
            @include sm{
              top: 40px;
              width: 100%;
              left: 0;
            }
            @include esm{
              top: 40px;
              width: 100%;
              left: 0;
            }
            &:before{
              @include sm{
                display: none;
              }
              @include esm{
                display: none;
              }
            }
          }
        }
      }
    }
    .top,.down{
      display: block;
      width: 100%;
      li.nav-item{
        cursor: pointer;
        position: relative;
        .nav-link{
          padding: 20px 30px;
          @include transition(all ease 300ms);
          color: $secondary;


          @include md{
            padding-bottom: 5px;
            padding-top: 5px;
          }
          @include sm{
            padding-bottom: 5px;
            padding-top: 5px;
          }
          @include esm{
            padding-bottom: 5px;
            padding-top: 5px;
          }
        }
        .custom-dropdown-menu{
          text-align: left;
          z-index: 1;
          top: 74px;
          border: 1px solid $gray-400;
          visibility: hidden;
          display: unset;
          opacity: 0;
          @include transition(all ease 300ms);
          width: 200px;
          position: absolute;
          left: calc(50% - 100px);
          background: $white;
          padding: 20px;
          @include border-radius(5px);
          @extend .animated;
          @extend .shadow-sm;
          transform: translate(0, 30px);

          &.dropdown-cart{
            width: 300px;
            left: calc(50% - 150px);
          }
          &:before{
            content: '';
            width: 12px;
            height: 12px;
            @include border-radius(2px);
            @include transform(rotate(45deg));
            z-index: -1;
            border: 1px solid transparent;
            border-left-color: $gray-400;
            border-top-color: $gray-400;

            background: $white;
            position: absolute;
            top: -6px;
            left: calc(50% - 6px);
            @include lg{
              display: none;
            }
            @include md{
              display: none;
            }
          }
          .form-search{
            .btn{
              @include border-radius(0px 4px 4px 0px);
            }
          }
          hr{
            margin:5px 0px 0px 0px;
          }
          .list-item{
            display: block;
            text-decoration: none;
            margin-top: 15px;
            color: $secondary;
            &:hover,&.active{
              color: $primary;
            }
          }
          .main-title{
            font-size: 14px;
            color: $primary;
            position: relative;
            font-weight: 500;
            padding-bottom: 4px;
            margin-bottom: 10px;
            &:before{
              content: '';
              width: 24px;
              height: 2px;
              background: $primary;
              display: block;
              position: absolute;
              bottom: 0;
              font-weight: 600;
            }
          }
          .item-wrap{
            overflow: auto;
            max-height: 300px ;
            p.cart-null{
              display: none;
            }

            .media{
              margin-bottom: 10px;
              padding: 3px 3px;
              @include border-radius(4px);
              &:hover{
                background: $gray-100;
              }
              .media-img{
                margin-right: 10px;
                @include border-radius(5px);
                width: 50px;
                height: 50px;
              }
              .media-body{
                .title{
                  font-size: 11px;
                  font-weight: 500;
                  text-decoration: none;
                  display: block;
                  color: $secondary;
                }
                p{
                  margin-top: 5px;
                  font-size: 12px;
                  .count{
                    color: $gray-500;
                  }
                  .price{
                    color: $secondary;
                  }
                  .discount{
                    display: block;
                    color: $danger;
                  }
                }
              }
              .media-delete{
                a{
                  color: $secondary;
                  i{
                    font-size: 20px;
                  }
                  &:hover{
                    color: $primary;
                  }
                }
              }
            }
          }
          .total{
            hr{
              width: 100%;
              margin-top: 0;
              margin-bottom: 10px;
            }
            .btn{
              font-size: 13px;
              text-align: center;
              display: block;
              &.payment{
                background: $black;
                color: $white;
                margin: auto;
                margin-bottom: 5px;
              }
            }
            p{
              font-weight: 500;
              .price{
                font-weight: 600;
                color: $secondary;
              }
            }
          }
        }
        &:hover{
          .custom-dropdown-menu{
            transform: translate(0, -10px);
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

  }
  .page{
    padding-top: 0;
    .breadcrumb-wrap{
      z-index:0;
    }
    &.page-404{
      padding-top: 80px;
    }
  }
  #slider-2{
    margin-top: 0;
    z-index: 0;
  }
  #slider-3{
    margin-top: 0;
    z-index: 0;
  }
}
