.page{
  padding: 70px 0px;
  .btn-primary{
    color: $white;
  }
  .breadcrumb-wrap{
    background-color: rgba($secondary,1);
    margin-bottom: 50px;
    color: $white;
    position: relative;
    z-index: 1;

    .breadcrumb-title{
      padding: 20px 15px;
      margin-bottom: 0;
    }
    .breadcrumb{
      background: transparent;

      .breadcrumb-item{
        a{
          text-decoration: none;
          color: rgba($white,1);
          &:hover{
            color: rgba($primary,.5);
          }
        }
        &:before{
          color: rgba($white,1);
        }
        &.active{
          color: $primary;
          font-weight: 500;
        }
      }
    }
  }
  &.page-blog_detail{
    padding-bottom: 0;
    a{
      color: $secondary;
    }
    .detail-head{
      .main-img{
        width: 100%;
      }
      .uploading{
        margin: 20px 0px;
        .upload-item{
          margin-right: 20px;
          text-decoration: none;
          @include esm{
            float: left;
          }
          &:hover{
            color: $secondary;
          }
        }
        .reading-time{
          float: right;
          display: block;
          background: $gray-200;
          color: $secondary;
          @include border-radius(100px);
          padding: 7px 20px;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
    .detail-media{
      .title{
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
        @include esm{
          font-size: 20px;
          line-height: unset;

        }
      }
      .text{
        font-size: 14px;
      }
      .tag-share{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin: 50px 0px;
        @include esm{
          display: block;
          margin-top: 10px;

        }
        .tag{
          @include esm{
            display: block;
            overflow: hidden;
          }
          .item{
            display: block;
            float: left;
            margin-top: 10px;
            background: $gray-100;
            border: 1px solid $gray-200;
            @include border-radius(4px);
            color: $secondary;
            font-size: 12px;
            padding: 5px 7px;
            margin-right: 10px;
          }
        }
        .share{
          @include esm{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
          }
          span{
            display: block;
            float: left;
            font-weight: 600;
            @include esm{
              width: 100%;
              margin-bottom: 5px;
              float: unset;
            }
          }
          a{
            color: $gray-400;
            float: left;
            display: block;
            margin-left: 10px;
            &:hover{
              color: $secondary;
            }
          }
        }
      }
      .blog-btn{
        margin-bottom: 50px;
        display: flex;
        position: relative;
        width: 100%;
        border: 1px solid $gray-300;
        align-items: center;
        padding: 20px 0px;
        &:before{
          content: '';
          position: absolute;
          left: 50%;
          width: 1px;
          height: 100%;
          background: $gray-300;
        }
        i{
          font-weight: 600;
          display: flex;
          height: 100%;
          margin-top: 3px;
        }
        span{
          font-weight: 600;
        }
        p{
          margin-bottom: 0;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .btn-prev{
          padding: 0px 15px;
          width: 50%;
          i{
            float: left;
          }
        }
        .btn-next{
          padding: 0px 15px;
          width: 50%;
          i{
            float: right;
          }
          text-align: right;
        }
      }
      .comments{
        .media{
          margin-top: 30px;
          @include esm{
            display: block;
          }
          @include sm{
            display: block;
          }
          img{
            @include border-radius(100px);
            margin-right: 15px;
            @include esm{
              width: 50px;
              float: left;
            }
            @include sm{
              width: 50px;
              float: left;
            }
          }
          .media-body{
            .user-title{
              margin-bottom: 10px;
              span{
                color: $gray-400;
                margin-left: 10px;
                font-style: italic;
                @include esm{
                  margin-left: 0;
                  display: block;
                }
                @include sm{
                  margin-left: 0;
                  display: block;
                }
              }
            }
            .media{
              @include esm{
                margin-left: 15px;
              }
              @include sm{
                margin-left: 15px;
              }
            }
            .text{
              display: flex;
              justify-content: space-between;
              @include esm{
                display: block;
              }
              @include sm{
                display: block;
              }

              .media-status{
                min-width: 100px;
                @include esm{
                  display: flex;
                }
                @include sm{
                  display: flex;
                }
                a{
                  padding-bottom: 10px;
                  display: block;
                  @include esm{
                    margin-top: 20px;
                    margin-right: 15px;
                  }
                  @include sm{
                    margin-top: 20px;
                    margin-right: 15px;
                  }
                  &:nth-child(1){
                    position: relative;
                    &:before{
                      @include esm{
                        display: none;
                      }
                      @include sm{
                        display: none;
                      }
                      content: '';
                      width: 20px;
                      height: 1px;
                      background: $gray-400;
                      position: absolute;
                      bottom: 5px;
                      left:50%;
                    }
                  }
                }
              }
            }
          }

        }
      }
      .form-comment{
        margin-top: 50px;
        margin-bottom: 50px;
        button.btn-primary{
          color: $white;
        }
      }
    }
    .search{
      background: rgba($secondary,.1);
      padding: 7px 0px;
      @include border-radius(4px);
      &:hover{
        background: $gray-100;
      }
      input{
        background: transparent;
        color: $secondary;
        @include box-shadow(unset);
        border: transparent;

      }
      .btn{
        background: transparent;
        color: $secondary;
        @include box-shadow(unset);
      }
    }
    .blog-rb{
      margin-top: 50px;
      .main-title{
        font-weight: bold;
        font-size: 20px;
        hr{
          margin-bottom: 0;
          margin-top: 13px;
          border-color: $gray-400;
        }
      }
      &.categories{
        .item{
          display: block;
          margin-top: 10px;
          text-decoration: none;
          &:hover{
            color: $primary;
          }

        }
        &.w-badges{
          .item{
            display: flex;
            justify-content: space-between;
            span{
              background: $gray-100;
              border: 1px solid $gray-200;
              @include border-radius(4px);
              color: $secondary;
              min-width: 30px;
              min-height: 10px;
              font-size: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      &.tags{
        .item{
          display: block;
          float: left;
          margin-top: 10px;
          background: $gray-100;
          border: 1px solid $gray-200;
          @include border-radius(4px);
          color: $secondary;
          font-size: 12px;
          padding: 5px 7px;
          margin-right: 10px;

        }
      }
      &.recent-post{
        .media{
          margin-top: 20px;
          align-items: center;
          img{
            width: 100px;
            margin-right: 25px;
            @include border-radius(4px);
          }
          .media-body{
            .title{
              font-weight: bold;
              font-size: 18px;
              text-decoration: none;
              &:hover{
                color: $primary ;
              }
            }
            .date{
              font-size: 14px;
              color: $gray-400;
            }
          }
        }
      }
    }
  }
  &.page-about{
    .about-wrap{
      //background: $gray-200;
      text-align: justify;
      padding: 60px 30px;
      h3{
        margin-bottom: 30px;
      }
      p{
        margin-bottom: 15px;
      }
      .about-images{
        .img-1{
          margin-bottom: 30px;
        }
        img{
          width: 100%;
        }
      }
    }
    .breadcrumb-wrap{

    }

  }
  &.page-product_detail{
    overflow: hidden;

    .img-wrap{
      .img-thumbs{
        &:before{
          content: '';
          background: linear-gradient(to bottom, white 40%, rgba(255, 255, 255, 0) 90%);
          top: 20px;
          width: calc(100% - 30px);
          height: 40px;
          position: absolute;
          left: 15px;
          z-index: 4;
        }
        &:after{
          content: '';
          background: linear-gradient(to top, white 40%, rgba(255, 255, 255, 0) 90%);
          bottom: 20px;
          width: calc(100% - 30px);
          height: 40px;
          position: absolute;
          left: 15px;
          z-index: 4;
        }
        .slider-nav{
          padding: 30px 0px;
          position: relative;
          .slick-slide{
            cursor: pointer;
            .slider-item{
              border-left: 1px solid rgba($primary,.1);
              padding: 10px;
              margin-bottom: 5px;
              img{
                width: 100%;
              }
            }
            &.slick-current.slick-active{
              border: 1px solid $primary;
            }
          }
          .slick-arrow{
            background: $primary;
            z-index: 3;
            width: 100%;
            left: 0;
            &:before{
              display: block;
              font-family: unicons;
              color: $white;
            }
            &:hover{
              background: $secondary;
            }

            &.slick-prev{
              &:before{
                content: '\e844';
              }
              top: unset;
              bottom: -10px;
            }
            &.slick-next{
              &:before{
                content: '\e850';
              }
              bottom:unset;
              top: 10px;
            }
          }
        }
      }
      .img-slider{
        border: 1px solid rgba($primary,.1);
        display: flex;
        align-items: center;
        .slider-for{
          width: 100%;
          .slider-item{
            cursor: zoom-in;
            padding: 10px;
            img{
              width: 100%;
            }
          }
        }
      }
    }
    .details{
      @include md{
        margin-top: 30px;
      }
      @include sm{
        margin-top: 30px;
      }
      @include esm{
        margin-top: 10px;
      }
      .categories{
        margin-bottom: 20px;
        a{
          text-decoration: none;
          display: inline-block;
          padding: 5px 10px;
          background: $primary;
          color: $white;
          font-size: 12px;
          font-weight: 600;
          margin-right: 10px;
        }
      }
      .product-title{
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 20px;
        line-height: 40px;
      }
      .price-old{
        font-size: 25px;
        text-decoration: line-through;
        color: $gray-400;
      }
      .price{
        font-size: 30px;
        color: $primary;
        font-weight: 600;
      }
      .stars{
        margin-top: 20px;
        i.star{
          color: $orange;
        }
        a{
          margin-left: 10px;
          font-weight: 500;
        }
      }
      .product-details{
        margin-bottom: 20px;
        margin-top: 20px;
        color: $gray-400;
      }
      .colors{
        margin-top: 20px;
        span.title{
          margin-right: 10px;
          font-weight: 600;
          font-size: 14px;
        }
        .btn{
          padding: 0;
          box-shadow: unset;
          &.btn-primary{
            color: $white !important;
          }
          &.active{
            span{
              outline: 0;
              -webkit-box-shadow: 0 0 0 0.2rem rgba(30, 47, 79, 0.25);
              box-shadow: 0 0 0 0.2rem rgba(30, 47, 79, 0.25);
            }
          }
          span{
            margin-right: 10px;
            cursor: pointer;
            @include border-radius(100px);
            width: 20px;
            height: 20px;
            content: '';
            font-size: 0px;
            display: block;
          }
        }
      }
      .gray-btn{
        .btn{
          border: 1px solid $primary;
          color: rgba($primary,1);
        }
      }
      .piece{
        margin-bottom: 20px;
        background: $gray-300;
        border: 1px solid $gray-300;
        @include border-radius(4px);
        overflow: hidden;
        input{
          background: transparent;
          @include box-shadow(unset);
          text-align: center;
          border: 0;
        }
        .btn{
          @include box-shadow(unset);
          @include border-radius(0px);
          &:hover{
            background: $gray-500;
          }
        }
      }
    }
  }
  &.page-404{
    text-align: center;
    padding: 200px 0px;
    @include esm{
      overflow: hidden;
    }
    .bounce{
      background: rgba($primary,.2);
      @include border-radius(100%);
      position: absolute;
      display: block;
      z-index: -1;
      animation:wobble 10s linear infinite;
    }
    .bounce-big{
      width: 300px;
      height: 300px;
      @include esm{
        overflow: hidden;
        left: 0;
        width: 100px;
        height: 100px;
      }
    }
    .bounce-small{
      width: 100px;
      height: 100px;
      @include esm{
        overflow: hidden;
        right: 0px;
        width: 50px;
        height: 50px;
      }
    }
    h1{
      font-size: 200px;
      font-weight: 600;
      letter-spacing: 15px;

      @include esm{
        font-size: 100px;
      }
    }

    h3{
      font-size: 40px;
      letter-spacing: 15px;
      font-weight: 600;
      @include esm{
        font-size: 20px;
        margin-bottom: 30px;
      }
    }
    h4{
      font-size: 15px;
      font-weight: 400;
    }
    .btn{
      background: $primary;
      color: $white;
      margin-top: 30px;
    }
  }
  &.page-product{
    .box{
      width: 100%;
      padding: 0px 15px;
      .title{
        margin-bottom: 25px;
        margin-top: 0;
        font-size: 20px;
        font-weight: 600;
        color: $secondary;
      }
      .box-link{
        display: flex;
        align-items: center;
        font-size: 14px;
        justify-content: space-between;
        text-decoration: none;
        padding: 7px 8px;
        margin-bottom: 5px;
        transition: all ease 300ms;
        color: $secondary ;
        @include border-radius(4px);
        &:nth-last-child(1){
          margin-bottom: 0;
        }
        &:hover{
          background: $gray-200;
        }
        .badges{
          background: $gray-100;
          border: 1px solid $gray-200;
          @include border-radius(4px);
          min-width: 30px;
          min-height: 10px;
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      hr{
        margin: 30px 0px 30px 0px;
      }
      &.box-price{
        .irs{
          margin-bottom: 10px;
        }
        input.form-control{
          @include border-radius(4px);
          &.input-min-val{
            margin-right: 10px;
          }
        }
        button{
          margin-top: 20px;
          color: $white;
        }
      }
      &.box-popular{
        .media{
          align-items: center;
          border-bottom: 1px solid $gray-200;
          position: relative;
          z-index: 1;
          overflow: hidden;
          &:nth-last-child(1){
            border-bottom-color: transparent;
          }
          img{
            position: relative;
            z-index: -1;
            width: 80px;
            margin-right: 15px;
            @include transition(all ease 300ms);
          }
          .media-link{
            text-decoration: none;
            color: $gray-500;
            font-size: 14px;
            @include transition(all ease 300ms);
            margin-bottom: 5px;
            font-weight: 500;
            line-height: 18px;
            display: block;
          }
          .price{
            cursor: pointer;

          }
          &:hover{
            img{
              @include transform((scale(1.1) rotate(10deg)))
            }
            .media-link{
              color: $primary;
            }
          }
        }
      }
    }
    .products-wrap{
      .sale-product{
        background: $gray-200;
        margin-left: 15px;
        margin-right: 15px;
        position: relative;
        padding: 20px 40px;
        margin-bottom: 20px;
        @include md{
          margin-top: 20px;
        }
        @include sm{
          margin-top: 20px;
        }
        @include esm{
          margin-top: 20px;
          padding-bottom: 100px;
        }

        h2{
          max-width: 70%;
          @include esm{
            max-width: 100%;
          }
          span{
            color: $danger;
          }
        }
        p{
          max-width: 70%;
          color: $gray-800;
          font-size: 14px;
          @include esm{
            max-width: 100%;
          }
        }
        a{}
        img{
          position: absolute;
          bottom: 0px;
          right: 0;
        }
      }
      .shorting{
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        @include esm{
          display: unset;

        }
        .wrap-title{
          font-weight: 600;
          font-size: 18px;
        }
        .wrap-listing{
          display: flex;
          justify-content: center;
          align-items: center;
          .short{
            display: flex;
            width: 80%;
            justify-content: center;
            align-items: center;
            label{
              width: 100px;
              margin-bottom: 0;
            }
          }
          .grid{
            width: 20%;
            display: flex;
            justify-content: flex-end;
            a{
              margin: 0px 5px;
              display: block;
              text-decoration: none;
              font-size: 20px;
            }
          }
        }
      }
      .item{
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        border: 1px solid $gray-200;
        padding: 10px;
        @include border-radius($border-radius);

        .img-wrap{
          position: relative;
          padding-top: 70px;

          img{
            width: 100%;
            @include transition(all ease 300ms);
          }
          .trans{
            position: absolute;
            right: 0;
            bottom: 0;
            @extend .animated;
            @extend .slideInRight;
            display: none;

            a{
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 5px 10px;
              background: rgba($white,1);
              border: 1px solid $primary;
              color: $primary;
              text-decoration: none;
              margin-bottom: 20px;
              @include border-radius(100px);
              @include transition(all ease 300ms);
              outline: 0;
              font-size: 14px;

              &:hover{
                color: $white;
                background: rgba($primary,1);
              }
              i{
                margin-right: 10px;
              }
            }
          }
        }
        .left-fix{
          position: absolute;
          top: 20px;
          display: flex;
          font-size: 14px;
          @include md{
            font-size: 12px ;
          }
          .new{
            background: $primary;
            font-weight: 500;
            padding: 5px 10px;
            color: $white;
            margin-left: 20px;
            @include border-radius($border-radius);
          }
          .discount{
            background: $danger;
            font-weight: 500;
            padding: 5px 10px;
            color: $white;
            margin-left: 20px;
            @include border-radius($border-radius);

          }
        }
        .caption{
          display: flex;
          justify-content: space-between;
          padding: 20px 0px;
          .price{
            width: 100%;
            .title{
              font-size: 20px;
              color: $secondary;
              font-weight: 600;
              width: 100%;
              display: block;
              @include md{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 14px;
              }
            }
            .new-price{
              color: $primary;
              margin-right: 15px;
              float: left;
              @include md{
                font-size: 13px;
              }
            }
            .old-price{
              text-decoration: line-through;
              color: $gray-500;
              @include md{
                font-size: 13px;
              }
            }
          }
        }
        &:hover{
          img{
            @include transform((scale(1.1) rotate(10deg)))
          }
          .trans{
            display: block;
            @extend .slideInRight;
          }
        }
      }
      nav{
        justify-content: flex-end;
        display: flex;
        a.page-link{
          @include border-radius(0);
        }
      }
    }
  }
  &.product-line{
    .item{
      display: flex;
      .img-wrap{
        overflow: hidden;
        min-width: 240px;
        img{
          width: unset !important;
          height: 200px;
        }
      }
      .caption{
        .price{
          font-size: 20px;
          .title{
            font-size: 35px !important;
          }
          p{
            font-size: 15px;
            margin-top: 15px;
            width: 100%;
            display: block;
            float:left;
          }
        }
        .trans{
          text-align: right;
          a{
            font-size: 15px;
            text-decoration: none;
            background: $primary;
            color: $white;
            padding: 10px 15px;
            display: inline-block;
            @include border-radius(100px);
            &:hover{
              background: $secondary;
            }
          }
        }
      }
    }
  }

}
