/* Base Styles -------------------- */
body{
  font-family: 'Poppins', sans-serif;
  color: $secondary;
  overflow-x: hidden;
}
a{
  color: $primary;
  text-decoration: none;
  &.link{
    display: inline-block;
    background: $primary;
    color: $white;
    padding: 10px 25px;
    border-radius: 0px;
    font-size: 15px;
    @include transition(all ease 300ms);
    text-decoration: none;
    @include sm{
      font-size: 13px;
      padding: 10px 25px;

    }
    &:focus,&:hover{
      outline: 0;
      color: $white;
      @include box-shadow(0 0 0 0.2rem rgba($primary, 0.25));
    }
  }
}


.text-blue{
  color: $primary
}
.text-green{
  color: $secondary
}

/***
  Header 1
***/
section#categories{
  margin-top: 50px;
  margin-bottom: 80px;
  .category-item{
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    @include border-radius($border-radius);
    background: $gray-300;
    img{
      margin-left: auto;
      height: 100%;
      min-height: 170px;
      @include transition(all ease 300ms);

    }
    @include esm{
      margin-bottom: 15px;
    }
    &:hover{
      img{
        @include transform((scale(1.1) rotate(10deg)))
      }
    }
    h3{
      position: absolute;
      a{
        text-decoration: none;
        font-size: 20px;
        display: block;
        padding: 0px 20px;
        @include text-shadow(1px 1px 1px $gray-300);

        span{
          color: $secondary;
          display: block;
          font-size: 25px;
          font-weight: 500;
        }
      }
    }
  }
}
section#deals{
  margin-top: 80px;
  padding: 50px 0px;
  background: rgba($secondary,.1);
  .main-title{
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 500;
    color: $secondary;
    text-align: center;
    width: 100%;
    small{
      font-size: 14px;
      display: block;
    }
  }
  .slick-arrow{
    &:before{
      content: unset;
    }
    width: 50px;
    height: 50px;
    background: rgba($secondary,.30);
    color: $secondary;
    z-index: 1;
    font-size: 14px;
    @include border-radius(0px);
    @include transition(all ease 300ms);
    @include md{
      width: 35px;
      height:35px;
    }

    &.slick-prev {
      left: -15px;
      @include esm{
        left: 5px;
      }
    }
    &.slick-next {
      right: -15px;
      @include esm{
        right: 5px;
      }
    }
    &:hover{
      color: $primary;
      background: rgba($primary,.40);
    }
  }
  .deals-wrap{
    padding: 0px 40px;
    .slick-slide{
      margin: 0px 10px;
      @include esm{
        margin: 0px 30px;
      }
    }
    .item{
      background: $white;
      position: relative;
      padding-bottom: 20px;
      img{
        width: 100%;
        padding: 10px;
        padding-top: 70px;

      }
      .new{
        position: absolute;
        top: 20px;
        background: $primary;
        font-size: 14px;
        font-weight: 500;
        right: 20px;
        padding: 5px 10px;
        @include border-radius($border-radius);

        color: $white;
        @include md{
          font-size: 12px ;
        }
      }
      .trans{
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        justify-content: center;
        display: flex;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba($secondary,.15);
          color: $secondary;
          text-decoration: none;
          margin: 0px 5px;
          width: 70px;
          height: 50px;
          @include border-radius($border-radius);

          @include transition(all ease 300ms);
          outline: 0;
          @include md{
            width: 35px;
            height:35px;
          }
          &:hover{
            color: $white;
            background: rgba($secondary,1);
          }
        }
      }
      .title{
        font-size: 20px;
        color: $secondary;
        font-weight: 600;
        padding: 0px 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a{
          color: $secondary;
        }
        @include md{
          font-size: 15px;
        }
      }
      .price{
        padding: 0px 15px;
        color: $primary;
        @include md{
          font-size: 13px;
        }
      }
    }
  }

}
section#most{
  margin: 80px 0px;
  .main-title{
    font-weight: 500;
    font-size: 40px;
    color: $secondary;
    position: relative;
    margin-bottom: 50px;

    @include esm{
      font-size: 30px;
    }
    small{
      font-weight: 500;
      display: block;
      font-size: 16px;
      position: relative;

      &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 35px;
        height: 2px;
        background: $primary;
      }
    }
  }
  .link{
    margin-top: 55px;
    display: inline-block;
    @include md{
      margin-top: 0;
    }
    @include sm{
      margin-top: 0;
    }
  }
  .item{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid $gray-200;
    padding: 10px;
    @include border-radius($border-radius);

    .img-wrap{
      position: relative;
      padding-top: 70px;

      img{
        width: 100%;
        @include transition(all ease 300ms);
      }
      .trans{
        position: absolute;
        right: 0;
        bottom: 0;
        @extend .animated;
        @extend .slideInRight;
        display: none;

        a{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 10px;
          background: rgba($white,1);
          border: 1px solid $primary;
          color: $primary;
          text-decoration: none;
          margin-bottom: 20px;
          @include border-radius(100px);
          @include transition(all ease 300ms);
          outline: 0;
          font-size: 14px;

          &:hover{
            color: $white;
            background: rgba($primary,1);
          }
          i{
            margin-right: 10px;
          }
        }
      }
    }
    .left-fix{
      position: absolute;
      top: 20px;
      display: flex;
      font-size: 14px;
      @include md{
        font-size: 12px ;
      }
      .new{
        background: $primary;
        font-weight: 500;
        padding: 5px 10px;
        color: $white;
        margin-left: 20px;
        @include border-radius($border-radius);
      }
      .discount{
        background: $danger;
        font-weight: 500;
        padding: 5px 10px;
        color: $white;
        margin-left: 20px;
        @include border-radius($border-radius);

      }
    }
    .caption{
      display: flex;
      justify-content: space-between;
      padding: 20px 0px;
      .price{
        width: 100%;
        .title{
          font-size: 20px;
          color: $secondary;
          font-weight: 600;
          width: 100%;
          display: block;
          @include md{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
          }
        }
        .new-price{
          color: $primary;
          margin-right: 15px;
          float: left;
          @include md{
            font-size: 13px;
          }
        }
        .old-price{
          text-decoration: line-through;
          color: $gray-500;
          @include md{
            font-size: 13px;
          }
        }
      }
    }
    &:hover{
      img{
        @include transform((scale(1.1) rotate(10deg)))
      }
      .trans{
        display: block;
        @extend .slideInRight;
      }
    }
  }

}
section#about{
  .about-title{
    color: $primary;
    font-size: 20px;
  }
  .about{
    color: $secondary;
    font-size: 40px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 20px;
    @include md{
      font-size: 25px;
    }
    @include sm{
      font-size: 20px;
    }
    @include esm{
      font-size: 20px;
    }
  }
  .about-text{
    color:#747F92;
    margin-bottom: 50px;
    @include esm{
      margin-bottom: 30px;
    }
  }
  .about-images{
    @include esm{
      margin-top: 30px;
    }
    img{
      height: 100%;
      width: 100%;
    }
    .img-1{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 474px;
      overflow: hidden;
      @include md{
        min-height: unset;
        align-items: flex-start;
      }
      @include sm{
        min-height: unset;
        align-items: flex-start;
      }
      @include esm{
        min-height: unset;
        align-items: flex-start;
      }
    }
    .img-2{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 222px;
      overflow: hidden;
      margin-bottom: 30px;
      @include md{
        min-height: unset;
        align-items: flex-start;
      }
      @include sm{
        min-height: unset;
        align-items: flex-start;
      }
      @include esm{
        min-height: unset;
        align-items: flex-start;
      }
    }
    .img-3{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 222px;
      overflow: hidden;
      @include md{
        min-height: unset;
        align-items: flex-start;
      }
      @include sm{
        min-height: unset;
        align-items: flex-start;
      }
      @include esm{
        min-height: unset;
        align-items: flex-start;
      }
    }
  }
}
section#slider-3{
  margin-top: 73px;
  .slider{
    margin-bottom: 0;
    overflow: hidden;
    .item{
      position: relative;
      .item-img{
        width: 100%;
      }
      .caption{
        position: absolute;
        left: 15px;
        bottom: 15px;
      }
    }
    .slick-dots {
      width: unset;
      bottom: 20px;
      right: 40px;
      left: unset;
    }
  }
  .slider-category-item{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    background: rgba($primary,.3);
    margin-bottom: 30px;
    @include md{
      width: calc(50% - 15px);
      margin-top: 15px;
      margin-bottom: 0;
      margin-right: 15px;
    }
    @include sm{
      width: calc(50% - 15px);
      margin-top: 15px;
      margin-bottom: 0;
      margin-right: 15px;
    }
    @include esm{
      margin-bottom: 15px;
    }
    &:nth-last-child(1){
      margin-bottom: 0;
      @include md{
        margin-right: 0;
        width: 50%;
      }
      @include sm{
        margin-right: 0;
        width: 50%;
      }

    }
    img{
      margin-left: auto;
      height: 100%;
      min-height: 150px;
      @include transition(all ease 300ms);
      @include lg{
        max-height: 123px;
        min-height: unset;
      }

    }
    &:hover{
      img{
        @include transform((scale(1.1) rotate(10deg)))
      }
    }
    h3{
      position: absolute;
      a{
        text-decoration: none;
        font-size: 20px;
        display: block;
        padding: 0px 20px;
        @include text-shadow(1px 1px 1px $gray-300);

        span{
          color: $secondary;
          display: block;
          font-size: 25px;
          font-weight: 500;
        }
      }
    }
  }
}
section#slider-2{
  max-height: 520px;
  min-height: 520px;
  margin-top: 73px;
  background: rgba($primary,.3);
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-bottom: 155px;
  @include md{
    min-height: 300px;
    max-height: 300px;
    margin-top: 56px;
  }
  @include sm{
    min-height: unset;
    max-height: unset;
    margin-top: 56px;
    padding: 30px 0px;
  }
  @include esm{
    min-height: unset;
    max-height: unset;
    margin-top: 56px;
    padding: 30px 0px;
  }
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('#{$img-path}slider-2-mask.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .slider-wrap{
    margin-bottom: -110px;

    @include md{
      margin-bottom: 0;
    }
    @include sm{
      margin-bottom: 0;
    }
    @include esm{
      margin-bottom: 0;
    }
    .slick-dots{
      bottom: 72px;
      width: 90%;
      right: 0;
      display: flex;
      justify-content: center;
      @include lg{
        bottom: -14px;
        width: 100%;

      }
      @include md{
        bottom: -14px;
        width: 100%;

      }
      @include sm{
        bottom: -50px;
        width: 100%;

      }
      @include esm{
        bottom: -50px;
        width: 100%;

      }
      li{
        background: rgba($primary,.3);
        &:nth-child(1){
          border-radius: 0px 0px 0px 4px;
          margin-left: 120px;
          @include sm{
            margin-left: 0px;
          }
          @include esm{
            margin-left: 0px;
          }
        }
        &:nth-last-child(1){
          border-radius: 0px 0px 4px 0px;
        }
        padding: 0px 20px;
        margin: 0;
        button{
          &:before{
            margin-left: 10px;
          }
        }

        &.slick-active{
          button{
            &:before{
              color: $primary;
            }
          }
        }
      }
    }
    .item{
      @include sm{
        text-align: center;
      }
      @include esm{
        text-align: center;
      }
      .item-img{
        width: 100%;
        @include md{
          position: relative;
          top: 15px;
        }
        @include sm{
          max-width: 330px;
          margin: auto;
        }
        @include esm{
          width: 60%;
          margin: auto;
        }
      }
      h3{
        font-size: 30px;
        font-weight: 600;
        @include md{
          font-size: 30px;
        }
        @include esm{
          font-size: 20px;
        }
      }
      .item-text-1{
        color: $primary;
        font-weight: 500;
        @include esm{
          margin-top: 15px;
        }

      }
      .item-text-2{
        color: $secondary;

      }
      .item-text-3{
        color: $gray-600;
        font-weight: 400;

        @include md{
          font-size: 13px;
        }
        @include esm{
          font-size: 11px;
        }
      }
      .item-btn{
        padding: 10px;
        font-size:13px;
        @include md{
          padding: 5px;
        }
        @include esm{
          padding: 5px;
          font-size:12px;
        }
      }
    }
    .slick-arrow{
      background: $primary;
      z-index: 3;
      width: 40px;
      height: 40px;
      top: calc(50% - 50px);
      @include md{
        top: calc(50% - 10px);
      }
      @include esm{
        top: calc(50% - 90px);
        width: 30px;
        height: 30px;

      }
      &.slick-prev{
        left: 40px;

        &:before{
          content: '\e848';
        }
      }
      &.slick-next{
        right: 40px;

        &:before{
          content: '\e84b';
        }
      }
      &:before{
        display: block;
        font-family: unicons;
        color: $white;
      }
      &:hover{
        background: $secondary;
      }
    }
  }
}
section#slider{
  height: 100vh;
  overflow: hidden;
  background-image: url('#{$img-path}slider-bg.jpg');
  background-size: cover;
  @include md{
    min-height: unset;
  }
  .slider-wrap{
    position: relative;
    height: 100vh;
    &:before{
      left: 0;
      //content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba($primary,.10);
    }
    .slick-slide{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    .item{
      padding-top: 71px;
      padding-bottom: 71px;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      @include esm{
        text-align: center;
      }
      img{
        max-width: 100%;
        @include esm{
          position: relative;
          width: calc(100% + 30px);
          max-width: 160px;
          margin: auto;
        }
      }
      h3{
        font-size: 50px;
        font-weight: 600;
        @include md{
          font-size: 40px;
        }
        @include sm{
          font-size: 30px;
        }
        @include esm{
          font-size: 25px;
          text-align: center;
        }
      }
      p{
        color: #747F92;
        font-size: 16px;
        margin: 20px 0px;
      }

    }
    .slick-dots{
      bottom: 30px !important;
    }
  }
}
section#video{
  position: relative;
  background: url('#{$img-path}video-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px 0px;
  color: $white;
  z-index: 1;
  &:before{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($secondary,.85);
  }
  .video-wrap{
    padding: 95px 0px;
    border: 5px solid $white;
    margin: 0px 50px;
    width: 100%;
    text-align: center;
    @include md{
      padding: 30px 0px;
      margin: 0;
    }
    @include sm{
      padding: 30px 0px;
      margin: 0;
    }
    @include esm{
      padding: 30px 0px;
      margin: 0px 15px;
    }
    h3{
      font-size: 50px;
      font-weight: 500;
      margin: 25px;
      margin-top: 0;

      @include md{
        margin-top: 0;
      }
      @include sm{
        margin-top: 0;
        font-size: 30px;
      }
      @include esm{
        margin-top: 0;
        font-size: 30px;
      }
    }

    .play{
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        margin: 0px 15px;
        text-decoration: none;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        background: rgba($primary,.30);
        @include border-radius(0px);
        i{
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          background: $primary;
          @include transition(all ease 300ms);
          @include border-radius(0px);
        }
        &:hover{
          i{
            width: 70px;
            height: 70px;
          }
        }
      }
    }
  }
}
section#blogs{
  margin-top: 80px;
  margin-bottom: 80px;
  .main-title{
    font-weight: 500;
    font-size: 40px;
    color: $secondary;
    margin-bottom: 20px;
    position: relative;
    small{
      font-weight: 500;
      position: relative;
      display: block;
      font-size: 16px;
      &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 35px;
        height: 2px;
        background: $primary;
      }
    }
  }
  .item{
    margin-top: 30px;
    height: 100%;
    .item-img{
      width: 100%;
      //@include border-radius(10px 10px 0px 0px );
      @include border-radius(0px );
    }
    .caption{
      @include transition(all ease 300ms);
      //@include border-radius(0px 0px 10px 10px);
      @include border-radius(0px);
      @include box-shadow(0px 5px 11px -10px $secondary);
      padding: 18px 20px;
      border: 1px solid $gray-300;


      .title{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 500;
        font-size: 25px;
        color: $secondary;
        margin-bottom: 10px;
        a{
          text-decoration: none;
          color: $secondary;
        }
      }
      .upload{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user{
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 15px;
          color: $secondary;
          img{
            width: 40px;
            height: 40px;
            @include border-radius(100px);
            margin-right: 10px;
          }
        }
        .time{
          color: $gray-600;
          i{
            margin-right: 10px;
          }
        }
      }
      p{
        color: $gray-600;
        margin: 18px 0px;
        font-size: 14px;
        max-height: 100px;
        min-height: 100px;
        overflow: hidden;
      }
      .status{
        border-top: 1px solid $gray-300;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        margin-left: -20px;
        margin-right: -20px;
        color: $secondary;
        .like{
          width: 50%;
        }
        i{
          margin-right: 5px;
        }
        a{
          color: $secondary;
          text-decoration: none;
        }
      }
    }
    &:hover{
      .caption{
        @include box-shadow(0px 5px 21px -10px $secondary);
      }
    }
  }
  .link{
    margin-top: 50px;
  }
}
section#newsletter{
  padding: 50px 0px;
  background: rgba($secondary,.1);
  .news-info{
    .row{
      @include md{
        justify-content: center;
        margin-bottom: 30px;
      }
      @include sm{
        justify-content: center;
        margin-bottom: 30px;
      }
      @include esm{
        justify-content: center;
        margin-bottom: 30px;
        text-align: center;
      }
      i{
        font-size: 70px;
        display: flex;
      }
      h3{
        font-size: 40px;
        font-weight: 600;
        small{
          display: block;
          font-size: 14px;
        }
      }
    }
  }
  .news-form{
    input[type="email"]{
      background: $white;
      color: $gray-300;
      text-indent: 50px;
      height: 50px;
      border: 0;
      @include transition(all ease 300ms);
      @include box-shadow(0px 5px 10px -10px $secondary);
      @include esm{
        text-indent: 0;
      }
      &:focus{
        color: $gray-500;
      }
    }
    .btn{
      background: $secondary;
      color: $white;
      border-radius: 0px 5px 5px 0px;
      outline: 0;
      box-shadow: unset;
      &:hover{
        background: $primary;
        color: $white;
      }
    }
  }
}
