/* Base Styles -------------------- */
body{
  font-family: 'Poppins', sans-serif;
  color: $secondary;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  background-color:#fff;
  width:16px
}

::-webkit-scrollbar-track {
  background-color:#fff
}
::-webkit-scrollbar-track:hover {
}

::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
  border:5px solid #fff
}
::-webkit-scrollbar-thumb:hover {
  background-color:#a0a0a5;
  border:4px solid #fff
}

::-webkit-scrollbar-button {display:none}

.custom-formcontrol .form-control {
  box-shadow: none !important;
}
.custom-formcontrol .form-control:focus {
  border-color: $primary; }

.custom-formcontrol .form-group {
  position: relative; }
.custom-formcontrol .form-group label {
  position: absolute;
  background: #fff;
  z-index: 99;
  font-size: 12px;
  width: 100%;
  top: 9px;
  left: 9px; }

.custom-formcontrol .form-group label::before {
  content: attr(title);
  position: absolute;
  color: #cccccc;
  background: #fff;
  transition: all 300ms; }

.custom-formcontrol .form-group .form-control:focus + label::before {
  color: $secondary;
  top: -16px; }

.custom-formcontrol .form-group .form-control:valid + label::before {
  top: -16px;
  content: attr(data-title); }
a{
  color: $primary;
  text-decoration: none;
  &.link{
    display: inline-block;
    background: $primary;
    color: $white;
    padding: 10px 25px;
    border-radius: 0px;
    font-size: 15px;
    @include transition(all ease 300ms);
    text-decoration: none;
    @include sm{
      font-size: 13px;
      padding: 10px 25px;

    }
    &:focus,&:hover{
      outline: 0;
      color: $white;
      @include box-shadow(0 0 0 0.2rem rgba($primary, 0.25));
    }
  }
}


.text-blue{
  color: $primary
}
.text-green{
  color: $secondary
}

/***
  Header 1
***/
header{
  .navbar{
    align-items: flex-start;
    padding-bottom: 0;
    padding-top: 0;
    .navbar-brand{
      font-size: 30px;
      font-weight: bold;
      color: $primary;
    }
    .navbar-toggler{
      outline: 0;
      font-size: 25px;
      &[aria-expanded="true"]{
        i{
          @include transition(all ease 300ms);
          &:before{
            @include transition(all ease 300ms);
            content: '\eaeb';
          }
        }
      }
    }
    .navbar-collapse{
      &.show, &.collapsing{
        background: rgba($white,.95);
      }
      ul.navbar-nav{
        &.menu{
          @include md{
            margin-top: 10px;
            text-align: center;
          }
          @include sm{
            margin-top: 10px;
            text-align: center;
          }
          @include esm{
            margin-top: 10px;
            text-align: center;
          }
          li.nav-item{
            @include transition(all ease 300ms);
            .nav-link{
              font-size: 16px;
              font-weight: 500;
              padding-right: 25px;
              padding-left: 25px;
              color: $secondary;
              @include transition(all ease 300ms);
              @include md{
                padding: 0;
                margin: 0;
                padding-bottom: 10px;
              }
            }
            &.active{
              .nav-link{
                color: $primary;
                font-weight: bold;
              }
            }
          }
        }
        &.menu-right{
          @include md{
            justify-content: center;
            flex-direction: row;
          }
          @include sm{
            justify-content: center;
            flex-direction: row;
          }
          @include esm{
            justify-content: center;
            flex-direction: row;
          }
          li.nav-item{
            @include md{
              position: unset;
            }
            @include sm{
              position: unset;
            }
            @include esm{
              position: unset;
            }
            .nav-link{
              position: relative;
              color: $secondary;
              @include md{
                position: unset;
                margin: 0px 15px;
              }
              @include sm{
                position: unset;
                margin: 0px 15px;
              }
              @include esm{
                position: unset;
                margin: 0px 15px;
              }
              i{
                font-style: unset;
                font-size: 22px;
                position: relative;
                .badges{
                  color: color(white);
                  background: $primary;
                  position: absolute;
                  font-size: 12px;
                  width: 20px;
                  height: 20px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  @include border-radius(10px);
                  top: -7px;
                  right: -8px;
                }

              }
            }
          }
        }
        li.nav-item{
          cursor: pointer;
          position: relative;
          .nav-link{
            padding-bottom: 20px;
            padding-top: 20px;
            @include md{
              padding-bottom: 5px;
              padding-top: 5px;
            }
            @include sm{
              padding-bottom: 5px;
              padding-top: 5px;
            }
            @include esm{
              padding-bottom: 5px;
              padding-top: 5px;
            }
          }
          .custom-dropdown-menu{
            text-align: left;
            z-index: 1;
            top: 54px;
            visibility: hidden;
            display: unset;
            opacity: 0;
            @include transition(all ease 300ms);
            width: 200px;
            position: absolute;
            left: calc(50% - 100px);
            background: $white;
            padding: 20px;
            @include border-radius(5px);
            @extend .animated;
            @extend .shadow-sm;
            transform: translate(0, 30px);
            @include md{
              display: none;
              left: 0;
              width: calc(100% - 48px);
              top: unset;
              margin-top: -5px;
              margin-left: 24px;
              border-radius: 0;
            }
            @include sm{
              display: none;
              left: 0;
              width: calc(100% - 36px);
              top: unset;
              margin-top: -5px;
              margin-left: 18px;
              border-radius: 0;
            }
            @include esm{
              display: none;
              left: 0;
              width: calc(100% - 32px);
              top: unset;
              margin-top: -5px;
              margin-left: 16px;
              border-radius: 0;
              max-height: 220px;
              overflow: auto;
            }
            &.dropdown-cart{
              width: 300px;
              left: calc(50% - 150px);
            }
            &:before{
              content: '';
              width: 12px;
              height: 12px;
              @include border-radius(2px);
              @include transform(rotate(45deg));
              background: $white;
              position: absolute;
              top: -6px;
              left: calc(50% - 6px);
              @include lg{
                display: none;
              }
            }
            @include lg{
              left: calc(50% - 208px) !important;
            }

            .form-search{
              .btn{
                @include border-radius(0px 4px 4px 0px);
              }
            }
            hr{
              margin:5px 0px 0px 0px;
            }
            .list-item{
              display: block;
              text-decoration: none;
              margin-top: 15px;
              color: $secondary;
              &:hover{
                color: $primary;
              }
            }
            .main-title{
              font-size: 14px;
              color: $primary;
              position: relative;
              font-weight: 500;
              padding-bottom: 4px;
              margin-bottom: 10px;
              &:before{
                content: '';
                width: 24px;
                height: 2px;
                background: $primary;
                display: block;
                position: absolute;
                bottom: 0;
                font-weight: 600;
              }
            }
            .item-wrap{
              overflow: auto;
              max-height: 300px ;
              p.cart-null{
                display: none;
              }

              .media{
                margin-bottom: 10px;
                padding: 3px 3px;
                @include border-radius(4px);
                &:hover{
                  background: $gray-100;
                }
                .media-img{
                  margin-right: 10px;
                  @include border-radius(5px);
                  width: 50px;
                  height: 50px;
                }
                .media-body{
                  .title{
                    font-size: 11px;
                    font-weight: 500;
                    text-decoration: none;
                    display: block;
                    color: $secondary;
                  }
                  p{
                    margin-top: 5px;
                    font-size: 12px;
                    .count{
                      color: $gray-500;
                    }
                    .price{
                      color: $secondary;
                    }
                    .discount{
                      display: block;
                      color: $danger;
                    }
                  }
                }
                .media-delete{
                  a{
                    color: $secondary;
                    i{
                      font-size: 20px;
                    }
                    &:hover{
                      color: $primary;
                    }
                  }
                }
              }
            }
            .total{
              hr{
                width: 100%;
                margin-top: 0;
                margin-bottom: 10px;
              }
              .btn{
                font-size: 13px;
                text-align: center;
                display: block;
                &.payment{
                  background: $black;
                  color: $white;
                  margin: auto;
                  margin-bottom: 5px;
                }
              }
              p{
                font-weight: 500;
                .price{
                  font-weight: 600;
                  color: $secondary;
                }
              }
            }
          }
          &:hover{
            .custom-dropdown-menu{
              transform: translate(0, 10px);
              opacity: 1;
              visibility: visible;
              @include md{
                display: unset;
                width: calc(100% - 32px);
                left: 0;
              }
              @include sm{
                width: calc(100% - 32px);
                left: 0;
                display: unset;
              }
              @include esm{
                width: calc(100% - 32px);
                left: 0;
                display: unset;
              }
            }
          }
        }
      }


    }
    @include transition(all ease 300ms);
    &.fixed{
      background: rgba($white,.95);
      @include box-shadow(0px 0px 21px -18px #333);

      .navbar-collapse{
        &.collapsing,&.show{
          @include md{
            background: transparent;
          }
          @include sm{
            background: transparent;
          }
          @include esm{
            background: transparent;
          }
        }
        .navbar-nav{
          li.nav-item{
            .custom-dropdown-menu{
              @include md{
                margin-left: 0;
                width: 100% ;
              }
              @include sm{
                margin-left: 0;
                width: 100% ;
              }
              @include esm{
                margin-left: 0;
                width: 100% ;
              }
            }
          }
        }
      }
    }
  }
}
section#categories{
  margin-top: 50px;
  margin-bottom: 80px;
  .category-item{
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    @include border-radius($border-radius);
    background: $gray-300;
    img{
      margin-left: auto;
      height: 100%;
      min-height: 170px;
      @include transition(all ease 300ms);

    }
    &:hover{
      img{
        @include transform((scale(1.1) rotate(10deg)))
      }
    }
    h3{
      position: absolute;
      a{
        text-decoration: none;
        font-size: 20px;
        display: block;
        padding: 0px 20px;
        @include text-shadow(1px 1px 1px $gray-300);

        span{
          color: $secondary;
          display: block;
          font-size: 25px;
          font-weight: 500;
        }
      }
    }
  }
}
section#deals{
  margin-top: 80px;
  padding: 50px 0px;
  background: rgba($secondary,.1);
  .main-title{
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 500;
    color: $secondary;
    text-align: center;
    width: 100%;
    small{
      font-size: 14px;
      display: block;
    }
  }
  .slick-arrow{
    &:before{
      content: unset;
    }
    width: 50px;
    height: 50px;
    background: rgba($secondary,.30);
    color: $secondary;
    z-index: 1;
    font-size: 14px;
    @include border-radius(0px);
    @include transition(all ease 300ms);
    @include md{
      width: 35px;
      height:35px;
    }

    &.slick-prev {
      left: -15px;
      @include esm{
        left: 5px;
      }
    }
    &.slick-next {
      right: -15px;
      @include esm{
        right: 5px;
      }
    }
    &:hover{
      color: $primary;
      background: rgba($primary,.40);
    }
  }
  .deals-wrap{
    padding: 0px 40px;
    .slick-slide{
      margin: 0px 10px;
      @include esm{
        margin: 0px 30px;
      }
    }
    .item{
      background: $white;
      position: relative;
      padding-bottom: 20px;
      img{
        width: 100%;
        padding: 10px;
        padding-top: 70px;

      }
      .new{
        position: absolute;
        top: 20px;
        background: $primary;
        font-size: 14px;
        font-weight: 500;
        right: 20px;
        padding: 5px 10px;
        @include border-radius($border-radius);

        color: $white;
        @include md{
          font-size: 12px ;
        }
      }
      .trans{
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        justify-content: center;
        display: flex;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          background: rgba($secondary,.15);
          color: $primary;
          text-decoration: none;
          margin: 0px 5px;
          @include border-radius($border-radius);

          @include transition(all ease 300ms);
          outline: 0;
          @include md{
            width: 35px;
            height:35px;
          }
          &:hover{
            color: $white;
            background: rgba($primary,1);
          }
        }
      }
      .title{
        font-size: 20px;
        color: $secondary;
        font-weight: 600;
        padding: 0px 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a{
          color: $secondary;
        }
        @include md{
          font-size: 15px;
        }
      }
      .price{
        padding: 0px 15px;
        color: $primary;
        @include md{
          font-size: 13px;
        }
      }
    }
  }

}
section#most{
  margin: 80px 0px;
  .main-title{
    font-weight: 500;
    font-size: 40px;
    color: $secondary;
    position: relative;
    margin-bottom: 50px;

    @include esm{
      font-size: 30px;
    }
    small{
      font-weight: 500;
      display: block;
      font-size: 16px;
      position: relative;

      &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 35px;
        height: 2px;
        background: $primary;
      }
    }
  }
  .link{
    margin-top: 55px;
    display: inline-block;
    @include md{
      margin-top: 0;
    }
    @include sm{
      margin-top: 0;
    }
  }
  .item{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid $gray-200;
    padding: 10px;
    @include border-radius($border-radius);

    .img-wrap{
      position: relative;
      padding-top: 70px;

      img{
        width: 100%;
        @include transition(all ease 300ms);
      }
      .trans{
        position: absolute;
        right: 0;
        bottom: 0;
        @extend .animated;
        @extend .slideInRight;
        display: none;

        a{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 10px;
          background: rgba($white,1);
          border: 1px solid $primary;
          color: $primary;
          text-decoration: none;
          margin-bottom: 20px;
          @include border-radius(100px);
          @include transition(all ease 300ms);
          outline: 0;
          font-size: 14px;

          &:hover{
            color: $white;
            background: rgba($primary,1);
          }
          i{
            margin-right: 10px;
          }
        }
      }
    }
    .left-fix{
      position: absolute;
      top: 20px;
      display: flex;
      font-size: 14px;
      @include md{
        font-size: 12px ;
      }
      .new{
        background: $primary;
        font-weight: 500;
        padding: 5px 10px;
        color: $white;
        margin-left: 20px;
        @include border-radius($border-radius);
      }
      .discount{
        background: $danger;
        font-weight: 500;
        padding: 5px 10px;
        color: $white;
        margin-left: 20px;
        @include border-radius($border-radius);

      }
    }
    .caption{
      display: flex;
      justify-content: space-between;
      padding: 20px 0px;
      .price{
        width: 100%;
        .title{
          font-size: 20px;
          color: $secondary;
          font-weight: 600;
          width: 100%;
          display: block;
          @include md{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
          }
        }
        .new-price{
          color: $primary;
          margin-right: 15px;
          float: left;
          @include md{
            font-size: 13px;
          }
        }
        .old-price{
          text-decoration: line-through;
          color: $gray-500;
          @include md{
            font-size: 13px;
          }
        }
      }
    }
    &:hover{
      img{
        @include transform((scale(1.1) rotate(10deg)))
      }
      .trans{
        display: block;
        @extend .slideInRight;
      }
    }
  }

}
section#about{
  .about-title{
    color: $primary;
    font-size: 20px;
  }
  .about{
    color: $secondary;
    font-size: 40px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 20px;
    @include md{
      font-size: 25px;
    }
    @include sm{
      font-size: 20px;
    }
    @include esm{
      font-size: 20px;
    }
  }
  .about-text{
    color:#747F92;
    margin-bottom: 50px;
    @include esm{
      margin-bottom: 30px;
    }
  }
  .about-images{
    @include esm{
      margin-top: 30px;
    }
    img{
      height: 100%;
      width: 100%;
    }
    .img-1{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 474px;
      overflow: hidden;
      @include md{
        min-height: unset;
        align-items: flex-start;
      }
      @include sm{
        min-height: unset;
        align-items: flex-start;
      }
      @include esm{
        min-height: unset;
        align-items: flex-start;
      }
    }
    .img-2{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 222px;
      overflow: hidden;
      margin-bottom: 30px;
      @include md{
        min-height: unset;
        align-items: flex-start;
      }
      @include sm{
        min-height: unset;
        align-items: flex-start;
      }
      @include esm{
        min-height: unset;
        align-items: flex-start;
      }
    }
    .img-3{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 222px;
      overflow: hidden;
      @include md{
        min-height: unset;
        align-items: flex-start;
      }
      @include sm{
        min-height: unset;
        align-items: flex-start;
      }
      @include esm{
        min-height: unset;
        align-items: flex-start;
      }
    }
  }
}
section#slider-2{
  max-height: 520px;
  min-height: 520px;
  margin-top: 73px;
  background: rgba($primary,.3);
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-bottom: 155px;
  @include md{
    min-height: 300px;
    max-height: 300px;
    margin-top: 56px;
  }
  @include sm{
    min-height: unset;
    max-height: unset;
    margin-top: 56px;
    padding: 30px 0px;
  }
  @include esm{
    min-height: unset;
    max-height: unset;
    margin-top: 56px;
    padding: 30px 0px;
  }
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('#{$img-path}slider-2-mask.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .slider-wrap{
    margin-bottom: -110px;

    @include md{
      margin-bottom: 0;
    }
    @include sm{
      margin-bottom: 0;
    }
    @include esm{
      margin-bottom: 0;
    }
    .slick-dots{
      bottom: 72px;
      width: 90%;
      right: 0;
      display: flex;
      justify-content: center;
      @include lg{
        bottom: -14px;
        width: 100%;

      }
      @include md{
        bottom: -14px;
        width: 100%;

      }
      @include sm{
        bottom: -50px;
        width: 100%;

      }
      @include esm{
        bottom: -50px;
        width: 100%;

      }
      li{
        background: rgba($primary,.3);
        &:nth-child(1){
          border-radius: 0px 0px 0px 4px;
          margin-left: 120px;
          @include sm{
            margin-left: 0px;
          }
          @include esm{
            margin-left: 0px;
          }
        }
        &:nth-last-child(1){
          border-radius: 0px 0px 4px 0px;
        }
        padding: 0px 20px;
        margin: 0;
        button{
          &:before{
            margin-left: 10px;
          }
        }

        &.slick-active{
          button{
            &:before{
              color: $primary;
            }
          }
        }
      }
    }
    .item{
      @include sm{
        text-align: center;
      }
      @include esm{
        text-align: center;
      }
      .item-img{
        width: 100%;
        @include md{
          position: relative;
          top: 15px;
        }
        @include sm{
          max-width: 330px;
          margin: auto;
        }
        @include esm{
          width: 60%;
          margin: auto;
        }
      }
      h3{
        font-size: 40px;
        font-weight: 600;
        @include md{
          font-size: 30px;
        }
        @include esm{
          font-size: 20px;
        }
      }
      .item-text-1{
        color: $primary;
        font-weight: 500;
        @include esm{
          margin-top: 15px;
        }

      }
      .item-text-2{
        color: $secondary;

      }
      .item-text-3{
        color: $gray-600;
        font-weight: 400;

        @include md{
          font-size: 13px;
        }
        @include esm{
          font-size: 11px;
        }
      }
      .item-btn{
        padding: 10px;
        font-size:13px;
        @include md{
          padding: 5px;
        }
        @include esm{
          padding: 5px;
          font-size:12px;
        }
      }
    }
    .slick-arrow{
      background: $primary;
      z-index: 3;
      width: 40px;
      height: 40px;
      top: calc(50% - 50px);
      @include md{
        top: calc(50% - 10px);
      }
      @include esm{
        top: calc(50% - 90px);
        width: 30px;
        height: 30px;

      }
      &.slick-prev{
        left: 40px;

        &:before{
          content: '\e848';
        }
      }
      &.slick-next{
        right: 40px;

        &:before{
          content: '\e84b';
        }
      }
      &:before{
        display: block;
        font-family: unicons;
        color: $white;
      }
      &:hover{
        background: $secondary;
      }
    }
  }
}
section#slider{
  height: 100vh;
  overflow: hidden;
  background-image: url('#{$img-path}slider-bg.jpg');
  background-size: cover;
  @include md{
    min-height: unset;
  }
  .slider-wrap{
    position: relative;
    height: 100vh;
    &:before{
      left: 0;
      //content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba($primary,.10);
    }
    .slick-slide{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    .item{
      padding-top: 71px;
      padding-bottom: 71px;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      @include esm{
        text-align: center;
      }
      img{
        max-width: 100%;
        @include esm{
          position: relative;
          width: calc(100% + 30px);
          max-width: 160px;
          margin: auto;
        }
      }
      h3{
        font-size: 50px;
        font-weight: 600;
        @include md{
          font-size: 40px;
        }
        @include sm{
          font-size: 30px;
        }
        @include esm{
          font-size: 25px;
          text-align: center;
        }
      }
      p{
        color: #747F92;
        font-size: 16px;
        margin: 20px 0px;
      }

    }
    .slick-dots{
      bottom: 30px !important;
    }
  }
}
section#video{
  position: relative;
  background: url('#{$img-path}video-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px 0px;
  color: $white;
  z-index: 1;
  &:before{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($secondary,.85);
  }
  .video-wrap{
    padding: 95px 0px;
    border: 5px solid $white;
    margin: 0px 50px;
    width: 100%;
    text-align: center;
    @include md{
      padding: 30px 0px;
      margin: 0;
    }
    @include sm{
      padding: 30px 0px;
      margin: 0;
    }
    @include esm{
      padding: 30px 0px;
      margin: 0px 15px;
    }
    h3{
      font-size: 50px;
      font-weight: 500;
      margin: 25px;
      margin-top: 0;

      @include md{
        margin-top: 0;
      }
      @include sm{
        margin-top: 0;
        font-size: 30px;
      }
      @include esm{
        margin-top: 0;
        font-size: 30px;
      }
    }

    .play{
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        margin: 0px 15px;
        text-decoration: none;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        background: rgba($primary,.30);
        @include border-radius(0px);
        i{
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          background: $primary;
          @include transition(all ease 300ms);
          @include border-radius(0px);
        }
        &:hover{
          i{
            width: 70px;
            height: 70px;
          }
        }
      }
    }
  }
}
section#blogs{
  margin-top: 80px;
  margin-bottom: 80px;
  .main-title{
    font-weight: 500;
    font-size: 40px;
    color: $secondary;
    margin-bottom: 20px;
    position: relative;
    small{
      font-weight: 500;
      position: relative;
      display: block;
      font-size: 16px;
      &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 35px;
        height: 2px;
        background: $primary;
      }
    }
  }
  .item{
    margin-top: 30px;
    height: 100%;
    .item-img{
      width: 100%;
      //@include border-radius(10px 10px 0px 0px );
      @include border-radius(0px );
    }
    .caption{
      @include transition(all ease 300ms);
      //@include border-radius(0px 0px 10px 10px);
      @include border-radius(0px);
      @include box-shadow(0px 5px 11px -10px $secondary);
      padding: 18px 20px;
      border: 1px solid $gray-300;


      .title{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 500;
        font-size: 25px;
        color: $secondary;
        margin-bottom: 10px;
        a{
          text-decoration: none;
        }
      }
      .upload{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user{
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 15px;
          color: $secondary;
          img{
            width: 40px;
            height: 40px;
            @include border-radius(100px);
            margin-right: 10px;
          }
        }
        .time{
          color: $gray-600;
          i{
            margin-right: 10px;
          }
        }
      }
      p{
        color: $gray-600;
        margin: 18px 0px;
        font-size: 14px;
        max-height: 100px;
        min-height: 100px;
        overflow: hidden;
      }
      .status{
        border-top: 1px solid $gray-300;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        margin-left: -20px;
        margin-right: -20px;
        color: $secondary;
        .like{
          width: 50%;
        }
        i{
          margin-right: 5px;
        }
        a{
          text-decoration: none;
        }
      }
    }
    &:hover{
      .caption{
        @include box-shadow(0px 5px 21px -10px $secondary);
      }
    }
  }
  .link{
    margin-top: 50px;
  }
}
section#newsletter{
  padding: 50px 0px;
  background: rgba($secondary,.1);
  .news-info{
    .row{
      @include md{
        justify-content: center;
        margin-bottom: 30px;
      }
      @include sm{
        justify-content: center;
        margin-bottom: 30px;
      }
      @include esm{
        justify-content: center;
        margin-bottom: 30px;
        text-align: center;
      }
      i{
        font-size: 70px;
        display: flex;
      }
      h3{
        font-size: 40px;
        font-weight: 600;
        small{
          display: block;
          font-size: 14px;
        }
      }
    }
  }
  .news-form{
    input[type="email"]{
      background: $white;
      color: $gray-300;
      text-indent: 50px;
      height: 50px;
      border: 0;
      @include transition(all ease 300ms);
      @include box-shadow(0px 5px 10px -10px $secondary);
      @include esm{
        text-indent: 0;
      }
      &:focus{
        color: $gray-500;
      }
    }
    .btn{
      background: $secondary;
      color: $white;
      border-radius: 0px 5px 5px 0px;
      outline: 0;
      box-shadow: unset;
      &:hover{
        background: $primary;
        color: $white;
      }
    }
  }
}
.page{
  padding: 70px 0px;
  .breadcrumb-wrap{
    background: rgba($secondary,.1);
    margin-bottom: 50px;
    .breadcrumb{
      background: transparent;
      .breadcrumb-item{
        a{
          text-decoration: none;
          color: rgba($gray-600,1);
          &:hover{
            color: rgba($secondary,.5);
          }
        }
        &:before{
          color: rgba($secondary,.1);
        }
        &.active{
          color: $primary;
          font-weight: 500;
        }
      }
    }
  }
  &.page-blog_detail{
    padding-bottom: 0;
    .detail-head{
      .main-img{
        width: 100%;
      }
      .uploading{
        margin: 20px 0px;
        .upload-item{
          margin-right: 20px;
          text-decoration: none;
          @include esm{
            float: left;
          }
          &:hover{
            color: $secondary;
          }
        }
        .reading-time{
          float: right;
          display: block;
          background: $gray-200;
          color: $primary;
          @include border-radius(100px);
          padding: 7px 20px;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
    .detail-media{
      .title{
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
        @include esm{
          font-size: 20px;
          line-height: unset;

        }
      }
      .text{
        font-size: 14px;
      }
      .tag-share{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin: 50px 0px;
        @include esm{
          display: block;
          margin-top: 10px;

        }
        .tag{
          @include esm{
            display: block;
            overflow: hidden;
          }
          .item{
            display: block;
            float: left;
            margin-top: 10px;
            background: $gray-100;
            border: 1px solid $gray-200;
            @include border-radius(4px);
            color: $primary;
            font-size: 12px;
            padding: 5px 7px;
            margin-right: 10px;
          }
        }
        .share{
          @include esm{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
          }
          span{
            display: block;
            float: left;
            font-weight: 600;
            @include esm{
              width: 100%;
              margin-bottom: 5px;
              float: unset;
            }
          }
          a{
            color: $gray-400;
            float: left;
            display: block;
            margin-left: 10px;
            &:hover{
              color: $secondary;
            }
          }
        }
      }
      .blog-btn{
        margin-bottom: 50px;
        display: flex;
        position: relative;
        width: 100%;
        border: 1px solid $gray-300;
        align-items: center;
        padding: 20px 0px;
        &:before{
          content: '';
          position: absolute;
          left: 50%;
          width: 1px;
          height: 100%;
          background: $gray-300;
        }
        i{
          font-weight: 600;
          display: flex;
          height: 100%;
          margin-top: 3px;
        }
        span{
          font-weight: 600;
        }
        p{
          margin-bottom: 0;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .btn-prev{
          padding: 0px 15px;
          width: 50%;
          i{
            float: left;
          }
        }
        .btn-next{
          padding: 0px 15px;
          width: 50%;
          i{
            float: right;
          }
          text-align: right;
        }
      }
      .comments{
        .media{
          margin-top: 30px;
          @include esm{
            display: block;
          }
          @include sm{
            display: block;
          }
          img{
            @include border-radius(100px);
            margin-right: 15px;
            @include esm{
              width: 50px;
              float: left;
            }
            @include sm{
              width: 50px;
              float: left;
            }
          }
          .media-body{
            .user-title{
              margin-bottom: 10px;
              span{
                color: $gray-400;
                margin-left: 10px;
                font-style: italic;
                @include esm{
                  margin-left: 0;
                  display: block;
                }
                @include sm{
                  margin-left: 0;
                  display: block;
                }
              }
            }
            .media{
              @include esm{
                margin-left: 15px;
              }
              @include sm{
                margin-left: 15px;
              }
            }
            .text{
              display: flex;
              justify-content: space-between;
              @include esm{
                display: block;
              }
              @include sm{
                display: block;
              }

              .media-status{
                min-width: 100px;
                @include esm{
                  display: flex;
                }
                @include sm{
                  display: flex;
                }
                a{
                  padding-bottom: 10px;
                  display: block;
                  @include esm{
                    margin-top: 20px;
                    margin-right: 15px;
                  }
                  @include sm{
                    margin-top: 20px;
                    margin-right: 15px;
                  }
                  &:nth-child(1){
                    position: relative;
                    &:before{
                      @include esm{
                        display: none;
                      }
                      @include sm{
                        display: none;
                      }
                      content: '';
                      width: 20px;
                      height: 1px;
                      background: $gray-400;
                      position: absolute;
                      bottom: 5px;
                      left:50%;
                    }
                  }
                }
              }
            }
          }

        }
      }
      .form-comment{
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }
    .search{
      background: rgba($primary,.1);
      padding: 7px 0px;
      @include border-radius(4px);
      &:hover{
        background: $gray-100;
      }
      input{
        background: transparent;
        color: $primary;
        @include box-shadow(unset);
        border: transparent;

      }
      .btn{
        background: transparent;
        color: $primary;
        @include box-shadow(unset);
      }
    }
    .blog-rb{
      margin-top: 50px;
      .main-title{
        font-weight: bold;
        font-size: 20px;
        hr{
          margin-bottom: 0;
          margin-top: 13px;
          border-color: $gray-400;
        }
      }
      &.categories{
        .item{
          display: block;
          margin-top: 10px;
          text-decoration: none;
          &:hover{
            color: $secondary;
          }

        }
        &.w-badges{
          .item{
            display: flex;
            justify-content: space-between;
            span{
              background: $gray-100;
              border: 1px solid $gray-200;
              @include border-radius(4px);
              color: $primary;
              min-width: 30px;
              min-height: 10px;
              font-size: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      &.tags{
        .item{
          display: block;
          float: left;
          margin-top: 10px;
          background: $gray-100;
          border: 1px solid $gray-200;
          @include border-radius(4px);
          color: $primary;
          font-size: 12px;
          padding: 5px 7px;
          margin-right: 10px;

        }
      }
      &.recent-post{
        .media{
          margin-top: 20px;
          align-items: center;
          img{
            width: 100px;
            margin-right: 25px;
            @include border-radius(4px);
          }
          .media-body{
            .title{
              font-weight: bold;
              font-size: 18px;
              text-decoration: none;
              &:hover{
                color: $secondary ;
              }
            }
            .date{
              font-size: 14px;
              color: $gray-400;
            }
          }
        }
      }
    }
  }
  &.page-about{
    .about-wrap{
      //background: $gray-200;
      text-align: justify;
      padding: 60px 30px;
      h3{
        margin-bottom: 30px;
      }
      p{
        margin-bottom: 15px;
      }
      .about-images{
        .img-1{
          margin-bottom: 30px;
        }
        img{
          width: 100%;
        }
      }
    }
    .breadcrumb-wrap{
    }

  }
  &.page-product_detail{
    padding-bottom: 0;
    overflow: hidden;

    .img-wrap{
      .img-thumbs{
        &:before{
          content: '';
          background: linear-gradient(to bottom, white 40%, rgba(255, 255, 255, 0) 90%);
          top: 20px;
          width: calc(100% - 30px);
          height: 40px;
          position: absolute;
          left: 15px;
          z-index: 4;
        }
        &:after{
          content: '';
          background: linear-gradient(to top, white 40%, rgba(255, 255, 255, 0) 90%);
          bottom: 20px;
          width: calc(100% - 30px);
          height: 40px;
          position: absolute;
          left: 15px;
          z-index: 4;
        }
        .slider-nav{
          padding: 30px 0px;
          position: relative;
          .slick-slide{
            cursor: pointer;
            .slider-item{
              border-left: 1px solid rgba($primary,.1);
              padding: 10px;
              margin-bottom: 5px;
              img{
                width: 100%;
              }
            }
            &.slick-current.slick-active{
              border: 1px solid $primary;
            }
          }
          .slick-arrow{
            background: $primary;
            z-index: 3;
            width: 100%;
            left: 0;
            &:before{
              display: block;
              font-family: unicons;
              color: $white;
            }
            &:hover{
              background: $secondary;
            }

            &.slick-prev{
              &:before{
                content: '\e844';
              }
              top: unset;
              bottom: -10px;
            }
            &.slick-next{
              &:before{
                content: '\e850';
              }
              bottom:unset;
              top: 10px;
            }
          }
        }
      }
      .img-slider{
        border: 1px solid rgba($primary,.1);
        display: flex;
        align-items: center;
        .slider-for{
          width: 100%;
          .slider-item{
            cursor: zoom-in;
            padding: 10px;
            img{
              width: 100%;
            }
          }
        }
      }
    }
    .details{
      @include md{
        margin-top: 30px;
      }
      @include sm{
        margin-top: 30px;
      }
      @include esm{
        margin-top: 10px;
      }
      .categories{
        margin-bottom: 20px;
        a{
          text-decoration: none;
          display: inline-block;
          padding: 5px 10px;
          background: $primary;
          color: $white;
          font-size: 12px;
          font-weight: 600;
          margin-right: 10px;
        }
      }
      .product-title{
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 20px;
        line-height: 40px;
      }
      .price-old{
        font-size: 25px;
        text-decoration: line-through;
        color: $gray-400;
      }
      .price{
        font-size: 30px;
        color: $primary;
        font-weight: 600;
      }
      .stars{
        margin-top: 20px;
        i.star{
          color: $orange;
        }
        a{
          margin-left: 10px;
          font-weight: 500;
        }
      }
      .product-details{
        margin-bottom: 20px;
        margin-top: 20px;
        color: $gray-400;
      }
      .colors{
        margin-top: 20px;
        span.title{
          margin-right: 10px;
          font-weight: 600;
          font-size: 14px;
        }
        .btn{
          padding: 0;
          box-shadow: unset;
          &.active{
            span{
              outline: 0;
              -webkit-box-shadow: 0 0 0 0.2rem rgba(30, 47, 79, 0.25);
              box-shadow: 0 0 0 0.2rem rgba(30, 47, 79, 0.25);
            }
          }
          span{
            margin-right: 10px;
            cursor: pointer;
            @include border-radius(100px);
            width: 20px;
            height: 20px;
            content: '';
            font-size: 0px;
            display: block;
          }
        }
      }
      .gray-btn{
        .btn{
          border: 1px solid $gray-300;
          color: rgba($primary,.5);
        }
      }
      .piece{
        margin-bottom: 20px;
        background: $gray-300;
        border: 1px solid $gray-300;
        @include border-radius(4px);
        overflow: hidden;
        input{
          background: transparent;
          @include box-shadow(unset);
          text-align: center;
          border: 0;
        }
        .btn{
          @include box-shadow(unset);
          @include border-radius(0px);
          &:hover{
            background: $gray-500;
          }
        }
      }
    }
  }
  &.page-404{
    text-align: center;
    padding: 200px 0px;
    @include esm{
      overflow: hidden;
    }
    .bounce{
      background: rgba($primary,.2);
      @include border-radius(100%);
      position: absolute;
      display: block;
      z-index: -1;
      animation:wobble 10s linear infinite;
    }
    .bounce-big{
      width: 300px;
      height: 300px;
      @include esm{
        overflow: hidden;
        left: 0;
        width: 100px;
        height: 100px;
      }
    }
    .bounce-small{
      width: 100px;
      height: 100px;
      @include esm{
        overflow: hidden;
        right: 0px;
        width: 50px;
        height: 50px;
      }
    }
    h1{
      font-size: 200px;
      font-weight: 600;
      letter-spacing: 15px;

      @include esm{
        font-size: 100px;
      }
    }

    h3{
      font-size: 40px;
      letter-spacing: 15px;
      font-weight: 600;
      @include esm{
        font-size: 20px;
        margin-bottom: 30px;
      }
    }
    h4{
      font-size: 15px;
      font-weight: 400;
    }
    .btn{
      background: $primary;
      color: $white;
      margin-top: 30px;
    }
  }
  &.page-product{
    .box{
      width: 100%;
      padding: 0px 15px;
      .title{
        margin-bottom: 25px;
        margin-top: 0;
        font-size: 20px;
        font-weight: 600;
        color: $secondary;
      }
      .box-link{
        display: flex;
        align-items: center;
        font-size: 14px;
        justify-content: space-between;
        text-decoration: none;
        padding: 7px 8px;
        margin-bottom: 5px;
        transition: all ease 300ms;
        color: $secondary ;
        @include border-radius(4px);
        &:nth-last-child(1){
          margin-bottom: 0;
        }
        &:hover{
          background: $gray-200;
        }
        .badges{
          background: $gray-100;
          border: 1px solid $gray-200;
          @include border-radius(4px);
          min-width: 30px;
          min-height: 10px;
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      hr{
        margin: 30px 0px 30px 0px;
      }
      &.box-price{
        .irs{
          margin-bottom: 10px;
        }
        input.form-control{
          @include border-radius(4px);
          &.input-min-val{
            margin-right: 10px;
          }
        }
        button{
          margin-top: 20px;
          color: $white;
        }
      }
      &.box-popular{
        .media{
          align-items: center;
          border-bottom: 1px solid $gray-200;
          position: relative;
          z-index: 1;
          overflow: hidden;
          &:nth-last-child(1){
            border-bottom-color: transparent;
          }
          img{
            position: relative;
            z-index: -1;
            width: 80px;
            margin-right: 15px;
            @include transition(all ease 300ms);
          }
          .media-link{
            text-decoration: none;
            color: $gray-500;
            font-size: 14px;
            @include transition(all ease 300ms);
            margin-bottom: 5px;
            font-weight: 500;
            line-height: 18px;
            display: block;
          }
          .price{
            cursor: pointer;

          }
          &:hover{
            img{
              @include transform((scale(1.1) rotate(10deg)))
            }
            .media-link{
              color: $primary;
            }
          }
        }
      }
    }
    .products-wrap{
      .sale-product{
        background: $gray-200;
        margin-left: 15px;
        margin-right: 15px;
        position: relative;
        padding: 20px 40px;
        margin-bottom: 20px;
        @include md{
          margin-top: 20px;
        }
        @include sm{
          margin-top: 20px;
        }
        @include esm{
          margin-top: 20px;
          padding-bottom: 100px;
        }

        h2{
          max-width: 70%;
          @include esm{
            max-width: 100%;
          }
          span{
            color: $danger;
          }
        }
        p{
          max-width: 70%;
          color: $gray-800;
          font-size: 14px;
          @include esm{
            max-width: 100%;
          }
        }
        a{}
        img{
          position: absolute;
          bottom: 0px;
          right: 0;
        }
      }
      .shorting{
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        @include esm{
          display: unset;

        }
        .wrap-title{
          font-weight: 600;
          font-size: 18px;
        }
        .wrap-listing{
          display: flex;
          justify-content: center;
          align-items: center;
          .short{
            display: flex;
            width: 80%;
            justify-content: center;
            align-items: center;
            label{
              width: 100px;
              margin-bottom: 0;
            }
          }
          .grid{
            width: 20%;
            display: flex;
            justify-content: flex-end;
            a{
              margin: 0px 5px;
              display: block;
              text-decoration: none;
              font-size: 20px;
            }
          }
        }
      }
      .item{
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        border: 1px solid $gray-200;
        padding: 10px;
        @include border-radius($border-radius);

        .img-wrap{
          position: relative;
          padding-top: 70px;

          img{
            width: 100%;
            @include transition(all ease 300ms);
          }
          .trans{
            position: absolute;
            right: 0;
            bottom: 0;
            @extend .animated;
            @extend .slideInRight;
            display: none;

            a{
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 5px 10px;
              background: rgba($white,1);
              border: 1px solid $primary;
              color: $primary;
              text-decoration: none;
              margin-bottom: 20px;
              @include border-radius(100px);
              @include transition(all ease 300ms);
              outline: 0;
              font-size: 14px;

              &:hover{
                color: $white;
                background: rgba($primary,1);
              }
              i{
                margin-right: 10px;
              }
            }
          }
        }
        .left-fix{
          position: absolute;
          top: 20px;
          display: flex;
          font-size: 14px;
          @include md{
            font-size: 12px ;
          }
          .new{
            background: $primary;
            font-weight: 500;
            padding: 5px 10px;
            color: $white;
            margin-left: 20px;
            @include border-radius($border-radius);
          }
          .discount{
            background: $danger;
            font-weight: 500;
            padding: 5px 10px;
            color: $white;
            margin-left: 20px;
            @include border-radius($border-radius);

          }
        }
        .caption{
          display: flex;
          justify-content: space-between;
          padding: 20px 0px;
          .price{
            width: 100%;
            .title{
              font-size: 20px;
              color: $secondary;
              font-weight: 600;
              width: 100%;
              display: block;
              @include md{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 14px;
              }
            }
            .new-price{
              color: $primary;
              margin-right: 15px;
              float: left;
              @include md{
                font-size: 13px;
              }
            }
            .old-price{
              text-decoration: line-through;
              color: $gray-500;
              @include md{
                font-size: 13px;
              }
            }
          }
        }
        &:hover{
          img{
            @include transform((scale(1.1) rotate(10deg)))
          }
          .trans{
            display: block;
            @extend .slideInRight;
          }
        }
      }
      nav{
        justify-content: flex-end;
        display: flex;
        a.page-link{
          @include border-radius(0);
        }
      }
    }
  }

}
footer{
  padding: 50px 0px;
  background: $gray-100;
  @include sm{
    padding: 50px 0px 20px 0px;;
  }
  hr{
    margin-top: 30px ;
    margin-bottom: 30px ;
    width: 100%;
    padding: 0;
  }
  .footer-brand{
    @include sm{
      margin-bottom: 30px;
    }
    @include esm{
      margin-bottom: 30px;
    }
    .address{
      color: $gray-500;
      a{
        color: $gray-500;
      }
    }
    .brand{
      text-decoration: none;
      font-size: 30px;
      font-weight: bold;
      color: $secondary;
      span{
        color: rgba($primary,1);
      }
    }
    ul.social{
      display: flex;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      li{
        list-style-type: none;
        margin-right: 10px;
        a{
          text-decoration: none;
          width: 30px;
          height: 30px;
          color: $white;
          background: $gray-400;
          display: flex;
          @include border-radius(100px);
          @include transition(all ease 300ms);
          align-items: center;
          justify-content: center;
          &:hover{
            background: $secondary;
          }

        }
      }
    }
  }
  .quick-links{
    .title{
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style-type: none;
        margin-bottom: 10px;
        a{
          color: $gray-500;
          @include transition(all ease 300ms);
          &:hover{
            color: rgba($secondary,.8);
          }
        }
      }
    }
  }
  .copyright{
    font-size: 14px;
    color: $gray-400;
    @include esm{
      margin: 0px 30px;
      margin-bottom: 15px;
      text-align: center;
      .row{
        justify-content: center;
      }
    }
    a{
      color: $secondary;
      display: inline-block;
      margin: 0px 10px;
    }
  }
  .payment{
    .row{
      justify-content: flex-end;
      padding: 0;
      margin-bottom: 0;
      @include esm{
        justify-content: center;
      }
      li{
        list-style-type: none;
        a{
          display: block;
          margin-left: 10px;
        }
      }
    }
  }
}
